.adminContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.userList {
    list-style: none;
    padding: 0;
}

.userItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userItem .username {
    font-weight: bold;
    margin-right: 10px;
}

.editButton,
.deleteButton,
.saveButton,
.cancelButton {
    padding: 5px 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton,
.cancelButton {
    background-color: #dc3545;
}

.adminListGroupItem {
    border: none;
    border-radius: 15px;
}

.adminColumnTitle {
    flex: auto;
}

.adminTitleRow {
    display: flex;
    background-color: #ffffff;
    font-weight: bold;
}

.adminListGroupItem {
    border: none;
    border-radius: 15px;
}

.adminListGroupItem:hover {
    filter: brightness(90%);
    text-decoration: none;
}

.adminInput {

    width: 90%;
}