#map {
    width: 100%;
    height: calc(100vh - 56px);
}

.runData, .controls {
    position: fixed;
    left: 20px;
    background: white;
    width: 15rem;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.runData {
    bottom: 135px;
}

.runData {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.runData div {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
}

.runData>div:first-child{
    font-weight: bold;
}

.controls {
    bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.controls button, .controls span {
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px
}

.line { 
    fill: none; 
    stroke-width: 2px; 
}

.statistics svg:nth-of-type(1) path {
    stroke: red;
}

.statistics svg:nth-of-type(2) path {
    stroke: blue;
}

.statistics svg:nth-of-type(3) path {
    stroke: green;
}

.runner-icon {
    position: relative;
}
  
.runner-animation {
    background-image: url('runner.gif');
    width: 100%;
    height: 100%;
}