#runMap {
    width: 100%;
    height: calc(100vh - 56px);
    z-index: 1;
}

.runData,
.controls {
    position: fixed;
    left: 20px;
    background: white;
    width: 15rem;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.runData {
    bottom: 135px;
}

.runData {
    display: grid;
    position: absolute;
    grid-template-columns: auto auto;
    padding: 10px;
}

.runData div {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
}

.runData>div:first-child {
    font-weight: bold;
}

.addRun, .addRunPopup {
    bottom: 20px;
    right: 20px;
    width: auto;
    position: absolute;
    background: white;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 50;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
}

.addRunPopup {
    min-width: 75%;
    max-height: 80%;
    overflow-y: scroll;
    padding-left: 50px;
}

.addRunButtonClose {
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px;
}

.addRunButtonOpen {
    background: none;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    padding: 10px 120px;
    border-radius: 15px;
    display: block;
    margin: 10px auto 30px;
}

.controls {
    bottom: 20px;
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}


.controls .icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


.controls button,
.controls span {
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px
}

.runnerIcon {
    position: relative;
}

.runnerAnimation {
    background-image: url('Icons/cyan.png');
    transform: scale(0.08);
    width: 100%;
    height: 100%;
}

.runItemRow {
    display: flex;
    background-color: #ffffff;
}

.runColumnItem {
    flex: auto;
    text-align: left;
}

.runListGroupItem:hover {
    filter: brightness(90%);
    text-decoration: none;
}

.runColumnTitle {
    flex: auto;
}

.runTitleRow {
    display: flex;
    background-color: #ffffff;
    font-weight: bold;
}

.sidebarPopup {
    position: absolute;
    display: inline-block;
    margin: 5px;
    top: 60px;
    right: 0px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
    z-index: 10;
}

.sidebarOpen {
    max-height: calc(100% - 90px);
    overflow: auto;
}

.sidebarButton {
    background: none;
    border: none;
    padding: 0px 10px;
    font-size: 2.2rem;
    font-weight: bold;
}

.sidebarPointer {
    display: none;
}

@media screen and (max-width: 800px) {
    body {
        overflow-y: scroll;
    }
    
    .sidebarOpen, .graph-container svg{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        width: 90%;
        margin: 5px;
        margin-top: 20px;
        overflow: hidden;
    }

    .addRunPopup ul h6{
        font-size: 0.7rem;
    }

    .addRunButtonOpen {
        font-size: 1.2rem;
        border: 2px solid black;
        padding: 10px 80px;
        margin: 10px auto 20px;
    }
    .sidebarPointer {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 270px;
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        padding: 5px 10px 2px;
    }
}
@media screen and (max-width: 600px) {
    .graph-container svg {
        left: -60px;
        transform: scale(0.7);
        font-size: 2rem;
    }

    .sidebarPopup, .addRunPopup, .addRun, .controls, .sidebarPointer, .runData {
        border: 2px solid black;
    }

    .sidebarClosed {
        top: 40px;
        right: 5px;
    }

    .controls {
        bottom: 10px;
        left: 10px;
    }

    .runData {
        left: 10px;
        bottom: 95px;
    }

    .addRun {
        bottom: 35px;
        right: 10px;
    }

    .addRunPopup {
        bottom: 35px;
        right: 10px;
        padding-left: 20px;
    }

    .addRunButtonOpen {
        padding: 10px 60px;
    }

    .sidebarPointer {
        bottom: 10px;
        left: 183px;
    }
}

@media screen and (max-width: 450px) {
    html, body {
        min-height: 300px;
    }

    .graph-container svg {
        left: -100px;
        transform: scale(0.55);
    }

    .controls {
        bottom: 10px;
        left: 5px;
    }

    .runData {
        left: 5px;
        bottom: 95px;
    }

    .addRun {
        bottom: 35px;
        right: 5px;
    }
}